/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
 	border: 0;
	font-size: 100%;
	font: inherit;
  	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	background: #ebebeb;
	line-height: 1;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
 	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

div.todo {
	width: 320px;
	left: 50%;
	margin-left: -160px;
	position: absolute;
	height: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	overflow: hidden;
}

div.todo ul {
	margin-top: 10px;
	margin-left: 10px;
	width: 300px;
}

div.todo ul li {
	line-height: 30px;
	height: 30px;
	font-size: 0.8em;
	border: 1px #b4b4b4 solid;
	background-color: #fff;
	margin-bottom: 10px;
	box-shadow: 0 0 2px rgba(0,0,0,0.25);
}

div.todo ul li:hover {
	color: #000;
}

div.todo ul .faint {
	color: #888;
}

div.todo ul li .title {
	float: left;
	height: 100%;
	cursor: pointer;
}

div.todo ul li .title .edit {
	outline: none;
	-webkit-appearance: none;
	background: none;
	margin-top: 4px;
	padding: 0px 2px 0px 2px;
	border: 1px #b4b4b4 solid;
	height: 22px;
	line-height: 22px;
	width: 216px;
	font-size: 0.95em;
}

div.todo ul li .title .edit-error {
	border: 1px #ff6969 solid;
}

div.todo ul li .title .edit:focus {
	outline: none;
	-webkit-appearance: none;
	background: none;
}

div.todo ul li .title .ellipsis {
	float: left;
	height: 100%;
	max-width: 140px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

div.todo ul li .r {
	border: none;
	background: url('r.png') no-repeat;
	width: 31px;
	height: 40px;
	margin-top: -6px;
	margin-right: 10px;
	cursor: pointer;
	float: right;
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
	line-height: 40px;
	user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
    -webkit-background-size: 38px 299px;
}

div.todo ul li .dot {
	float: left;
	margin-top: -3px;
	margin-left: 0px;
	width: 30px;
	height: 36px;
	cursor: pointer;
	opacity: 0.75;
}

div.todo ul li .dot div {
	background: url('r.png') no-repeat 0px -80px;
	width: 16px;
	height: 16px;
	margin-left: 7px;
	margin-top: 10px;
    -webkit-background-size: 38px 299px;
}

div.todo ul li .dot:hover {
	opacity: 1.0;
}

div.todo ul li .gray div {
	background-position: -16px -80px;
}

div.todo ul li .yellow div {
	background-position: 0px -96px;
}

div.todo ul li .green div {
	background-position: 0px -112px;
}

div.todo ul li .blue div {
	background-position: -16px -96px;
}

div.todo ul li .red div {
	background-position: -16px -112px;
}

div.todo ul li .r:active {
	background-position: 0px -40px;
}

div.todo div.type-in {
	background: url('i.png') no-repeat 0px 0px;
	border-image-slice: 20px 310px 40px 15px;
	height: 48px;
	position: relative;
	z-index: 1;
    -webkit-background-size: 320px 96px;
}

div.todo div.type-in-error {
	background-position:0px -48px;
}

div.todo div.type-in input {
	margin-top: 12px;
	margin-left: 4px;
	padding: 10px 0px 4px 10px;
	width: 300px;
	background: none;
}

div.todo div.type-hint {
	margin-top: -5px;
	padding: 10px 8px 5px 8px;
	line-height: 38px;
	height: 38px;
	background: #ebebeb;
}

div.todo div.type-hint input {
	background: none;
	margin-left: 3px;
	padding: 2px 2px 2px 2px;
	border: 1px #ebebeb solid;
	width: 56px;
}

div.todo div.type-hint input.error {
	border: 1px #ff6969 solid;
}

div.todo div.type-hint .popup {
	position: absolute;
	background: url('r.png') no-repeat 0px -280px;
	width: 19px;
	height: 19px;
	margin-top: 11px;
	left: 50%;
	margin-left: -9.5px;
	cursor: pointer;
    -webkit-background-size: 38px 299px;
}

div.todo div.type-hint .popup:hover {
	background-position: -19px -280px;
}

div.todo div.type-hint .pause {
	background: url('r.png') no-repeat 0px -128px;
	width: 38px;
	height: 38px;
	cursor: pointer;
    -webkit-background-size: 38px 299px;
}

div.todo div.type-hint .pause:hover {
	background-position: 0px -166px;
}

div.todo div.type-hint .continue {
	background: url('r.png') no-repeat 0px -204px;
	width: 38px;
	height: 38px;
	cursor: pointer;
    -webkit-background-size: 38px 299px;
}

div.todo div.type-hint .continue:hover {
	background-position: 0px -242px;
}

div.todo div#footer {
	position: fixed;
	top: auto;
	left: 50%;
	margin-left: -160px;
	width: 320px;
	bottom: 0px;
}

.no-border {
	outline: none;
	border: none;
	-webkit-appearance: none;
}

.no-border:focus {
	outline: none;
	border: none;
	-webkit-appearance: none;
}

.small-font {
	font-size: 0.8em;
}

.bold {
	font-weight: bold;
}

.no-select {
	cursor: default;
	user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

div.vertical-centre {
	display: table;
	height: 100%;
	margin: auto;
}

div.vertical-centre div {
	display: table-cell;
	vertical-align: middle;
}

div.vertical-centre div div {
	display: block;
	text-align: center;
}

div.vertical-centre div .caption {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 24px;
}

div.vertical-centre div .big-popup {
	background: url('p.png') no-repeat;
	width: 76px;
	height: 76px;
	cursor: pointer;
	margin: auto;
    -webkit-background-size: 76px 152px;
}

div.vertical-centre div .big-popup:hover {
	background-position: 0px -76px;
}

@media all and (-webkit-min-device-pixel-ratio:2) {
	div.todo div.type-in {
		background-image: url("ihd.png");
	}

	div.todo ul li .r {
		background-image: url("rhd.png");
	}

	div.todo ul li .dot div {
		background-image: url("rhd.png");
	}

	div.todo div.type-hint .popup {
		background-image: url("rhd.png");
	}

	div.todo div.type-hint .pause {
		background-image: url("rhd.png");
	}

	div.todo div.type-hint .continue {
		background-image: url("rhd.png");
	}

	.big-popup {
		background-image: url('phd.png');
	}
}
